<div class="ui segment">
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.enabled) }}
</div>
<div class="ui segment">
    <h4 class="ui dividing header">{{ 'arobases_sylius_rights_management_plugin.ui.choice_role'|trans }}</h4>
    {{ form_row(form.role) }}
</div>
