{{ form_row(form.code) }}
{{ form_row(form.name) }}
{% set formattedRightArray = arobases_rights_plugin_get_formatted_right_array(form.rights) %}
{% for group, forms in  formattedRightArray %}
<div class="ui segment">
    <h2 class="ui dividing header">{{ group|trans }}</h2>
    {% for right in forms  %}
      {{ form_row(right) }}
    {% endfor %}
</div>
{% endfor %}


